/* CSS Variable Declarations */
:root {
  --fb-blue: #3b5998;
  --border-radius: 1px;
}

/* General Bootstrap CSS overrides */

.navbar {
    margin-bottom: 0;
}

.navbar-header .navbar-brand {
	color: var(--fb-blue);
}

.form-control {
	border-radius: var(--border-radius);
}

.input-group-addon {
	border-radius: var(--border-radius);
	background-color: var(--fb-blue);
	border-color:  var(--fb-blue);
}


/* Header */

.navbar-center {
	text-align: center;
}

.navbar-center .form-group {
	margin-left: -114px;
}

#search-text-field {
	width: 400px;
}

/* Header buttons */

#search-button {
	background-color: var(--fb-blue);
	border-radius: var(--border-radius);
	width: 80px;
}

.glyphicon-search {
	color: white;
}

#clear-button {
	color: var(--fb-blue);
	border-color:  var(--fb-blue);
	border-radius: var(--border-radius);
	margin-left: 20px;
}


/* Tabs */

.tab-bar {
	border: 0;
	background-color: white;
}

.nav-tabs.nav-justified li a {
	border-radius: 0;
	border: 0;
	border-bottom: 2px solid var(--fb-blue);
	color: black;
}

.nav-tabs.nav-justified li.active a {
	border: 0;
	border-bottom: 2px solid var(--fb-blue);
	color: white;
	background-color: var(--fb-blue);
}

.nav-tabs.nav-justified li.active a:hover,  .nav-tabs.nav-justified li.active a:focus{
	border: 0;
	border-bottom: 2px solid var(--fb-blue);
}


/* Table */

.container {
	padding: 20px;
}
